.Section {
  display: flex;
  flex-direction: column;

  position: relative;

  justify-content: center;
  align-items: center;

  gap: 20px;

  padding: 5px;
  //   padding-top: 80px;
  //   padding-bottom: 80px;
  overflow: hidden;

  height: 300px;
  width: 100%;

  .Image_Container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;

    .Diffuser {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;

      background-color: rgba(0, 0, 0, 0.2);
    }

    .Banner {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 0.5s;
    }
  }
}
