.Section {
  display: flex;
  flex-direction: column;

  position: relative;

  justify-content: center;
  align-items: left;

  gap: 20px;

  padding: 5px;
  padding-top: 80px;
  padding-bottom: 80px;
  overflow: hidden;

  height: 800px;
  width: 100%;
}
