.Navbar {
  display: flex;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  position: fixed;
  top: 0;
  left: 0;

  justify-content: space-between;
  align-items: center;

  padding: 5px;

  height: fit-content;
  width: 100%;

  z-index: 100;
  transition: 0.5s;

  .Logo_Container {
    display: flex;
    border: 2px solid black;
    border-radius: 50%;

    background-color: rgba(0, 0, 0, 0.5);

    justify-content: center;
    align-items: center;

    overflow: hidden;
    padding: 0px;
    gap: 0px;

    height: 40px;
    width: 40px;

    .Logo {
      height: 100%;
      width: 100%;
      object-fit: cover;
      transition: 0.3s;
    }
  }

  .Navlink_Container {
    display: flex;

    padding: 5px;
    gap: 20px;

    justify-content: space-evenly;
    align-items: center;

    height: fit-content;
    width: fit-content;

    .NavItem {
      display: none;
      .Navlink {
        color: white;
        font-size: 15px;
        font-weight: 200;
        cursor: pointer;
      }
    }

    .MenuIcon {
      cursor: pointer;
      display: none;
    }
  }
}

@media only screen and (max-width: 996px) {
  .Navbar {
    .Navlink_Container {
      .NavItem {
        display: none;
      }
    }
  }
}
